body,html{
    height: 100%;
    font-family: 'Russo One', sans-serif;
}

.item{
    text-align: center;
    margin-top: auto;
}

.main{
    position: relative;
}

header{
    height: 33%;
}

footer{
    height:33%;
}
